body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

body::before {
  background-color: transparent;
  filter: none;
}

.root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.navbar {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
  color: white;
}

.mb-4 {
  margin-bottom: 1.5rem;
}